{% comment %}
  Renders the product price in a badge format
  
  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price-badge', product: product %}
{% endcomment %}

<div style="padding-top: 8px;">
  <span class="badge price-badge" style="background-color: #0088ca; border-color: transparent; display: inline-block;">
    {% render 'price', product: product, price_class: 'price-badge-price', show_compare_at_price: show_compare_at_price %}
  </span>
</div> 